body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 24, 30);
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.exercice-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
